.motivacion{
    background-color: rgb(255, 0, 0);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.contenido{
    background-color:rgb(221, 255, 72);
    font-family: Georgia, 'Times New Roman', Times, serif;
}
